<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script>
        var pulse = function () {
            console.log('STARTING');

{#            setTimeout(function () {#}
                $.ajax({
                    method: 'GET',
                    url: '/get_word_results/'
                }).then(function success(response) {
                    console.log(response.one.percent);

                    $('#one .name').html(response.one.name);
                    $('#one .count').html(response.one.count);
                    $('.meter.one').css({'height': response.one.percent + '%'});

                    $('#two .name').html(response.two.name);
                    $('#two .count').html(response.two.count);
                    $('.meter.two').css({'height': response.two.percent + '%'});

                    $('#three .name').html(response.three.name);
                    $('#three .count').html(response.three.count);
                    $('.meter.three').css({'height': response.three.percent + '%'});

                    $('#four .name').html(response.four.name);
                    $('#four .count').html(response.four.count);
                    $('.meter.four').css({'height': response.four.percent + '%'});

                    $('#five .name').html(response.five.name);
                    $('#five .count').html(response.five.count);
                    $('.meter.five').css({'height': response.five.percent + '%'});

                    $('#six .name').html(response.six.name);
                    $('#six .count').html(response.six.count);
                    $('.meter.six').css({'height': response.six.percent + '%'});

                    $('#seven .name').html(response.seven.name);
                    $('#seven .count').html(response.seven.count);
                    $('.meter.seven').css({'height': response.seven.percent + '%'});

                    $('#eight .name').html(response.eight.name);
                    $('#eight .count').html(response.eight.count);
                    $('.meter.eight').css({'height': response.eight.percent + '%'});

                    $('#nine .name').html(response.nine.name);
                    $('#nine .count').html(response.nine.count);
                    $('.meter.nine').css({'height': response.nine.percent + '%'});

                    $('#ten .name').html(response.ten.name);
                    $('#ten .count').html(response.ten.count);
                    $('.meter.ten').css({'height': response.ten.percent + '%'});
                }, function error() {
                    console.log('FAILURE')
                });

{#                pulse()#}
{#            }, 2000);#}
        };
    </script>


</head>
<body>
<div class="container">
    <div class="row" style="padding-top: 20px; text-align: center;">
        <h2>Most Common Words on Wikipedia</h2>
        <p>A visualization of using a Task/Queue system</p>
    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-xs-12" style="text-align: center;">
            <button class="btn btn-info" onclick="pulse()">BEGIN</button>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-3" style="text-align: center; height: 300px; border: 1px solid black;">
            SEND MESSAGE

            <i class="far fa-envelope"></i>
        </div>
        <div class="col-xs-6" style="text-align: center; height: 300px; border: 1px solid black;">
            QUEUE "Message Broker"
        </div>
        <div class="col-xs-3" style="text-align: center; height: 300px; border: 1px solid black;">
            WORKER
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12" style="border: 1px solid black; text-align: center; min-height: 200px;">
            <h3 style="margin-bottom: 20px;">Most Common Words</h3>
            <div class="row">
                <div style="width: 10%; float: left;" id="one">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="two">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="three">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="four">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="five">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="six">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="seven">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="eight">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="nine">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
                <div style="width: 10%; float: left;" id="ten">
                    <p style="margin-bottom: 2px; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="name"></p>
                    <p style="margin: 0; font-size: 16px; font-weight: bold; font-family: Sans-Serif, serif;" class="count"></p>
                </div>
            </div>

            <style>
                .occurrence-meter {
                    height: 300px;
                }

                .occurrence-meter .meter-container {
                    position: relative;
                    height: 100%;
                    width: 10%;
                    padding: 0 5px;
                    float: left;
                }

                .occurrence-meter .meter {
                    position: absolute;
                    bottom: 0;
                    width: 90%;
                }

                .meter.one {
                    background-color: #ff385f;
                }

                .meter.two {
                    background-color: #ff9f35;
                }

                .meter.three {
                    background-color: #ffdd56;
                }

                .meter.four {
                    background-color: #bbff56;
                }

                .meter.five {
                    background-color: #20d160;
                }

                .meter.six {
                    background-color: #20d1cc;
                }

                .meter.seven {
                    background-color: #219cef;
                }

                .meter.eight {
                    background-color: #1712c1;
                }

                .meter.nine {
                    background-color: #080a75;
                }

                .meter.ten {
                    background-color: #000000;
                }
            </style>

            <div class="row occurrence-meter">
                <div class="meter-container">
                    <div class="meter one"></div>
                </div>
                <div class="meter-container">
                    <div class="meter two"></div>
                </div>
                <div class="meter-container">
                    <div class="meter three"></div>
                </div>
                <div class="meter-container">
                    <div class="meter four"></div>
                </div>
                <div class="meter-container">
                    <div class="meter five"></div>
                </div>
                <div class="meter-container">
                    <div class="meter six"></div>
                </div>
                <div class="meter-container">
                    <div class="meter seven"></div>
                </div>
                <div class="meter-container">
                    <div class="meter eight"></div>
                </div>
                <div class="meter-container">
                    <div class="meter nine"></div>
                </div>
                <div class="meter-container">
                    <div class="meter ten"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
